# Datasetleri Github'a atmamak için
dataset/
*.nii.gz
*.h5
!ai_engine/saved_models/en_iyi_model.h5
*.jpg
!docs/results/*.png
*.png

# Node ve Python gereksiz dosyaları
node_modules/
processed_data/
__pycache__/
.env
.idea/